<div class="col-4">
    <div class="card text-white bg-success mb-3 text-justify" style="max-width: 18rem;">
        <div class="card-header">@Movie.ReleseDate.ToString("dd MMM yyyy")</div>
        <div class="card-body">
            <h5 class="card-title">@Movie.Title</h5>
            <p class="card-text">@Movie.Description</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public Movie Movie { get;set; }
}
